{% extends 'accounts/base.html' %}

{% block title %}
    Creat profile
{% endblock %}



{% block body %}
    <div class="jumbotron bg-white">
        <h2 class="text-center">Profile Information</h2>
        <div>
            <form method="POST" action="{% url 'create' %}">
                {% csrf_token %}
                {{ form1.as_p }}
                {{ form2.as_p }}
                {{ form3.as_p }}
                <input type="submit" value="send">
            </form>

        </div>
    </div>

{% endblock %}
