body{
    background-color: black;
    padding-top: 50px;
    color: black;
    font-family: 'Sansita Swashed', cursive;
}
.asteriskField{
    display: none;
}

form > .alert > ul > li{
    list-style: none;
}

.navbar{
    text-align: center;
}

#make
{
   display:none;
}
